In [4]:
import pandas as pd
import requests

In [3]:
# read csv file
path = "clean_data/2015_weather_cancels_only.csv"
canceled2015_df = pd.read_csv(path)

canceled2015_df.head()

,Date,Origin,Destination,Expected Departure Time,Actual Departure Time,Departure Delay,Expected Arrival Time,Distance
0,2015-01-01,ATL,DFW,1124,0.0,0.0,1252,731.0
1,2015-01-01,DFW,ATL,731,0.0,0.0,1032,731.0
2,2015-01-01,TPA,DTW,1230,0.0,0.0,1506,983.0
3,2015-01-01,DFW,TPA,818,0.0,0.0,1134,929.0
4,2015-01-01,MAF,DEN,612,0.0,0.0,708,563.0

In [8]:
# take sample
s_2015 = canceled2015_df.sample(n=2500)
s_2015.head()

,Date,Origin,Destination,Expected Departure Time,Actual Departure Time,Departure Delay,Expected Arrival Time,Distance
8740,2015-02-02,SRQ,ORD,1408,0.0,0.0,1608,1050.0
38423,2015-08-06,LGA,ATL,1959,0.0,0.0,2232,762.0
33528,2015-05-27,HOU,DEN,740,0.0,0.0,910,883.0
6651,2015-01-28,LGA,ORF,941,0.0,0.0,1113,296.0
45419,2015-12-26,DFW,DEN,2030,0.0,0.0,2137,641.0

In [7]:
url = "https://visual-crossing-weather.p.rapidapi.com/history"

querystring = {"startDateTime":"2019-01-01T00:00:00","aggregateHours":"24","location":"Washington,DC,USA","endDateTime":"2019-01-03T00:00:00","unitGroup":"us","dayStartTime":"8:00:00","contentType":"csv","dayEndTime":"17:00:00","shortColumnNames":"0"}

headers = {
	"X-RapidAPI-Key": "32b3d29503msh0c2ae20005276d6p1aa5eajsn70cc3f213197",
	"X-RapidAPI-Host": "visual-crossing-weather.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,Wind Direction,Wind Chill,Precipitation,Precipitation Cover,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
"Washington,DC,USA","01/01/2019",52.9,63.9,59.3,44.9,59.68,,17.1,29.5,303.1,,0.0,0.0,0.0,9.9,63.4,1015.2,"",38.8904,-77.032,"Washington, DC, United States","Washington, DC, United States","","Partially cloudy"
"Washington,DC,USA","01/02/2019",43.6,47.6,45.9,36.4,69.73,,6.9,,137.17,40.4,0.0,0.0,0.0,9.9,98.9,1026.6,"",38.8904,-77.032,"Washington, DC, United States","Washington, DC, United States","","Overcast"
"Washington,DC,USA","01/02/2019",46.7,46.8,46.8,35.2,63.96,,8.0,,171.0,42.8,0.0,0.0,0.0,9.9,100.0,1023.6,"",38.8904,-77.032,"Washington, DC, United States","Washington, DC, United States","","Overcast"
"Washington,DC,USA","01/03/2019",46.7,47.5,47.1,39.0,73.32,,4.6,,286.5,44.6,0.0,0.0,0.0,9.9,77.7,1015.5,"",38.8904,-77.032,"Washington, DC, United States","Washington, DC, United States","","Overcast"