In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from scipy.stats import sem
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [3]:
summary2015 = pd.read_csv('Data_Cleaning/clean_data/focused_airports_2015.csv')
summary2016 = pd.read_csv('Data_Cleaning/clean_data/focused_airports_2016.csv')
summary2017 = pd.read_csv('Data_Cleaning/clean_data/focused_airports_2017.csv')
summary2018 = pd.read_csv('Data_Cleaning/clean_data/focused_airports_2018.csv')
weather_data = pd.read_csv('airport_weather_data_result.csv', index_col=0)

summary1 = summary2015.append(summary2016)
summary2 = summary1.append(summary2017)
summary = summary2.append(summary2018)

total_flights = summary

In [4]:
#Filter to desired airports
dfw = summary.loc[summary["Origin"] == "DFW"]
atl = summary.loc[summary["Origin"] == "ATL"]
den = summary.loc[summary["Origin"] == "DEN"]
lax = summary.loc[summary["Origin"] == "LAX"]
oha = summary.loc[summary["Origin"] == "ORD"]

In [5]:
summary

,Date,Origin,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay
0,2015-01-01,DFW,BWI,1342,1724,1217.0,0
1,2015-01-01,ORD,OAK,1534,1819,1836.0,0
2,2015-01-01,LAX,IAH,1648,2155,1379.0,0
3,2015-01-01,ORD,ATL,1105,1355,606.0,0
4,2015-01-01,ORD,GRB,1310,1358,173.0,0
...,...,...,...,...,...,...,...
1451362,2018-12-31,LAX,IAH,720,1235,1379.0,0
1451363,2018-12-31,ORD,PHL,2035,2331,678.0,0
1451364,2018-12-31,LAX,PHL,720,1522,2402.0,0
1451365,2018-12-31,DFW,MCI,1725,1856,460.0,0
1451366,2018-12-31,DFW,PHL,1955,2357,1303.0,0

In [6]:
new_summary = summary.rename(columns={"Origin" : "Airport"})
new_summary

,Date,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay
0,2015-01-01,DFW,BWI,1342,1724,1217.0,0
1,2015-01-01,ORD,OAK,1534,1819,1836.0,0
2,2015-01-01,LAX,IAH,1648,2155,1379.0,0
3,2015-01-01,ORD,ATL,1105,1355,606.0,0
4,2015-01-01,ORD,GRB,1310,1358,173.0,0
...,...,...,...,...,...,...,...
1451362,2018-12-31,LAX,IAH,720,1235,1379.0,0
1451363,2018-12-31,ORD,PHL,2035,2331,678.0,0
1451364,2018-12-31,LAX,PHL,720,1522,2402.0,0
1451365,2018-12-31,DFW,MCI,1725,1856,460.0,0
1451366,2018-12-31,DFW,PHL,1955,2357,1303.0,0

In [7]:
weather_data

,Date,Airport,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed
0,2015-01-01,DFW,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
1,2015-01-02,DFW,32.896,-97.037,39.8,0.28,"rain,",11.4
2,2015-01-03,DFW,32.896,-97.037,54.0,0.43,"rain,",12.7
3,2015-01-04,DFW,32.896,-97.037,43.1,0.00,NaN,27.7
4,2015-01-05,DFW,32.896,-97.037,46.1,0.00,NaN,16.1
...,...,...,...,...,...,...,...,...
7300,2018-12-27,ORD,41.979,-87.904,53.1,0.66,"rain,",20.8
7301,2018-12-28,ORD,41.979,-87.904,53.1,0.06,"rain,",23.0
7302,2018-12-29,ORD,41.979,-87.904,29.9,0.07,"rain,snow,",17.2
7303,2018-12-30,ORD,41.979,-87.904,35.1,0.00,NaN,17.2
7304,2018-12-31,ORD,41.979,-87.904,38.9,0.86,"rain,snow,",18.3

In [8]:
#Combine all flight data with weather data by day
all_data = pd.merge(new_summary, weather_data, on=["Date", "Airport"])
all_data

,Date,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed
0,2015-01-01,DFW,BWI,1342,1724,1217.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
1,2015-01-01,DFW,SAN,839,952,1171.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
2,2015-01-01,DFW,ATL,731,1032,731.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
3,2015-01-01,DFW,MCI,1951,2117,460.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
4,2015-01-01,DFW,RSW,1020,1348,1017.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5324042,2018-12-31,DFW,ORD,845,1110,801.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324043,2018-12-31,DFW,LAS,1950,2047,1055.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324044,2018-12-31,DFW,CLT,2055,10,936.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324045,2018-12-31,DFW,MCI,1725,1856,460.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324046,2018-12-31,DFW,PHL,1955,2357,1303.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2

In [9]:
all_data.drop_duplicates()

,Date,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed
0,2015-01-01,DFW,BWI,1342,1724,1217.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
1,2015-01-01,DFW,SAN,839,952,1171.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
2,2015-01-01,DFW,ATL,731,1032,731.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
3,2015-01-01,DFW,MCI,1951,2117,460.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
4,2015-01-01,DFW,RSW,1020,1348,1017.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5324042,2018-12-31,DFW,ORD,845,1110,801.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324043,2018-12-31,DFW,LAS,1950,2047,1055.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324044,2018-12-31,DFW,CLT,2055,10,936.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324045,2018-12-31,DFW,MCI,1725,1856,460.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324046,2018-12-31,DFW,PHL,1955,2357,1303.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2

In [11]:
#Seperate out non-cancelled and cancelled flights
non_cancelled = all_data.loc[all_data["Weather Delay"] != "CANCELLED"]
cancelled = all_data.loc[all_data["Weather Delay"] == "CANCELLED"]

In [12]:
non_cancelled

,Date,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed
0,2015-01-01,DFW,BWI,1342,1724,1217.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
1,2015-01-01,DFW,SAN,839,952,1171.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
3,2015-01-01,DFW,MCI,1951,2117,460.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
4,2015-01-01,DFW,RSW,1020,1348,1017.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
5,2015-01-01,DFW,LAS,1022,1122,1055.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5324042,2018-12-31,DFW,ORD,845,1110,801.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324043,2018-12-31,DFW,LAS,1950,2047,1055.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324044,2018-12-31,DFW,CLT,2055,10,936.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324045,2018-12-31,DFW,MCI,1725,1856,460.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324046,2018-12-31,DFW,PHL,1955,2357,1303.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2

In [13]:
non_cancelled['Date'] = pd.to_datetime(non_cancelled['Date'])

In [14]:
non_cancelled["Month"] = non_cancelled["Date"].dt.month_name()
non_cancelled["Year"] = non_cancelled["Date"].dt.year
non_cancelled["Year"] = non_cancelled["Year"].astype('object')
non_cancelled.head()

,Date,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed,Month,Year
0,2015-01-01,DFW,BWI,1342,1724,1217.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015
1,2015-01-01,DFW,SAN,839,952,1171.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015
3,2015-01-01,DFW,MCI,1951,2117,460.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015
4,2015-01-01,DFW,RSW,1020,1348,1017.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015
5,2015-01-01,DFW,LAS,1022,1122,1055.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015

In [15]:
non_cancelled["Month Year"] = non_cancelled["Month"].astype(str) + " " + non_cancelled["Year"].astype(str)
non_cancelled

,Date,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed,Month,Year,Month Year
0,2015-01-01,DFW,BWI,1342,1724,1217.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
1,2015-01-01,DFW,SAN,839,952,1171.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
3,2015-01-01,DFW,MCI,1951,2117,460.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
4,2015-01-01,DFW,RSW,1020,1348,1017.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
5,2015-01-01,DFW,LAS,1022,1122,1055.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5324042,2018-12-31,DFW,ORD,845,1110,801.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5324043,2018-12-31,DFW,LAS,1950,2047,1055.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5324044,2018-12-31,DFW,CLT,2055,10,936.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5324045,2018-12-31,DFW,MCI,1725,1856,460.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5324046,2018-12-31,DFW,PHL,1955,2357,1303.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018

In [16]:
non_cancelled.to_csv('NEW_NONCANCELLED_Airport_Weather_Details')

In [25]:
cancelled

,Date,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed,Month,Year,Month Year
2,2015-01-01,DFW,ATL,731,1032,731.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
17,2015-01-01,DFW,TPA,818,1134,929.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
25,2015-01-01,DFW,MSN,830,1038,821.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
31,2015-01-01,DFW,LRD,1255,1418,396.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
45,2015-01-01,DFW,DEN,1704,1813,641.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5323910,2018-12-31,DFW,LBB,1456,1607,282.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5323936,2018-12-31,DFW,ASE,1020,1205,701.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5323938,2018-12-31,DFW,ASE,1425,1601,701.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5323950,2018-12-31,DFW,CRP,1630,1802,354.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5323978,2018-12-31,DFW,EGE,845,1019,721.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018

In [26]:
cancelled['Date'] = pd.to_datetime(cancelled['Date'])

In [27]:
cancelled["Month"] = cancelled["Date"].dt.month_name()
cancelled["Year"] = cancelled["Date"].dt.year
cancelled["Year"] = cancelled["Year"].astype('object')
cancelled.head()

,Date,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed,Month,Year,Month Year
2,2015-01-01,DFW,ATL,731,1032,731.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
17,2015-01-01,DFW,TPA,818,1134,929.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
25,2015-01-01,DFW,MSN,830,1038,821.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
31,2015-01-01,DFW,LRD,1255,1418,396.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
45,2015-01-01,DFW,DEN,1704,1813,641.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015

In [28]:
cancelled["Month Year"] = cancelled["Month"].astype(str) + " " + cancelled["Year"].astype(str)
cancelled

,Date,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed,Month,Year,Month Year
2,2015-01-01,DFW,ATL,731,1032,731.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
17,2015-01-01,DFW,TPA,818,1134,929.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
25,2015-01-01,DFW,MSN,830,1038,821.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
31,2015-01-01,DFW,LRD,1255,1418,396.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
45,2015-01-01,DFW,DEN,1704,1813,641.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5323910,2018-12-31,DFW,LBB,1456,1607,282.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5323936,2018-12-31,DFW,ASE,1020,1205,701.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5323938,2018-12-31,DFW,ASE,1425,1601,701.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5323950,2018-12-31,DFW,CRP,1630,1802,354.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
5323978,2018-12-31,DFW,EGE,845,1019,721.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018

In [29]:
cancelled.to_csv('NEW_CANCELLED_Airport_Weather_Details')

In [37]:
# new_non_cancelled = non_cancelled.set_index('Date', inplace=True)
# new_non_cancelled = non_cancelled.index = pd.to_datetime(non_cancelled.index)
# non_cancelled

cancelled__date = cancelled.set_index('Date', inplace=True)

In [38]:
cancelled

,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed,Month,Year,Month Year
Date,,,,,,,,,,,,,,,
2015-01-01,DFW,ATL,731,1032,731.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
2015-01-01,DFW,TPA,818,1134,929.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
2015-01-01,DFW,MSN,830,1038,821.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
2015-01-01,DFW,LRD,1255,1418,396.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
2015-01-01,DFW,DEN,1704,1813,641.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0,January,2015,January 2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31,DFW,LBB,1456,1607,282.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
2018-12-31,DFW,ASE,1020,1205,701.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
2018-12-31,DFW,ASE,1425,1601,701.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
2018-12-31,DFW,CRP,1630,1802,354.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018
2018-12-31,DFW,EGE,845,1019,721.0,CANCELLED,32.896,-97.037,61.1,0.46,"rain,",17.2,December,2018,December 2018

In [39]:
resample_c = cancelled.resample('1M').count()
# resample_nc = non_cancelled.resample('1M').count()

monthly_cancels = resample_c["Weather Delay"].reset_index()
# # monthly_nc = resample_nc["Weather Delay"].reset_index()

In [40]:
average = cancelled.resample('1M').mean()
average

,Expected Departure Time,Expected Arrival Time,Distance,Latitude,Longitude,Max Temp,Precip,Wind Speed
Date,,,,,,,,
2015-01-31,1462.730400,1624.560000,815.451200,37.330344,-94.808253,41.860480,0.130328,15.828560
2015-02-28,1444.616387,1614.942970,700.278166,36.233835,-93.590573,34.982379,0.558464,17.933264
2015-03-31,1360.388857,1536.847641,659.683911,36.074900,-94.303525,41.971063,0.215969,18.882661
2015-04-30,1527.305983,1673.449573,547.136752,37.343065,-94.701993,68.020684,0.797641,22.124957
2015-05-31,1602.527748,1719.332971,601.388466,34.606746,-95.210214,76.612514,0.829902,21.383025
2015-06-30,1628.681716,1712.124153,583.067720,38.650205,-91.337823,81.573702,0.993758,16.423025
2015-07-31,1722.312757,1748.345679,511.637860,39.207798,-95.472481,84.199588,0.280864,16.882305
2015-08-31,1656.808451,1750.912676,501.002817,40.420746,-90.249144,86.053521,0.177803,17.006197
2015-09-30,1738.096257,1829.973262,372.219251,41.265594,-88.596246,80.624064,0.935508,17.134225
2015-10-31,1651.320755,1716.765499,673.444744,33.603523,-97.217879,73.540701,2.633342,18.529380
2015-11-30,1487.351675,1549.924641,606.083732,39.592703,-93.803461,47.443182,0.474821,24.244976
2015-12-31,1481.177863,1591.843062,719.616189,37.707561,-94.863235,45.752148,0.966503,23.516905
2016-01-31,1435.932337,1643.141476,973.405975,36.571743,-94.876940,45.620562,0.346986,18.620650
2016-02-29,1492.857143,1674.837772,689.039952,39.513403,-95.749100,39.212470,0.228705,22.431840
2016-03-31,1427.999016,1585.378937,793.267717,39.226497,-101.260243,50.615256,0.337854,32.963287
2016-04-30,1351.415441,1555.785539,805.534314,37.873348,-101.853256,50.670833,0.824583,24.001838
2016-05-31,1675.431907,1711.521401,695.688716,37.969455,-95.321623,77.947471,0.590973,19.478599
2016-06-30,1706.203629,1732.760081,685.891129,37.483534,-98.113694,83.351008,0.490706,16.230242
2016-07-31,1652.803340,1708.591837,739.630798,39.025319,-91.753071,87.706122,0.342876,16.774583
2016-08-31,1592.589147,1705.158915,777.540698,36.028872,-94.856180,87.807171,0.874612,17.498837
2016-09-30,1531.139785,1693.913978,533.215054,40.537011,-90.781817,78.756989,0.426129,15.072043
2016-10-31,1439.879433,1524.297872,768.895981,35.400983,-90.732563,77.864539,0.132600,17.676596
2016-11-30,1649.135714,1786.750000,540.607143,40.079271,-97.918393,54.481429,0.162714,18.883571
2016-12-31,1414.747019,1583.979557,733.908859,39.983871,-95.726871,31.466184,0.241482,16.821976
2017-01-31,1525.988960,1653.487580,634.991720,36.422802,-93.057631,41.778289,0.309016,18.132567
2017-02-28,1436.424431,1595.169772,951.521739,37.143598,-99.490184,55.052588,0.229130,20.223395
2017-03-31,1384.845805,1525.623583,872.482993,38.642522,-95.150832,45.529025,0.122789,20.298639
2017-04-30,1525.344000,1630.150857,575.056000,35.129927,-88.452529,67.339200,2.043154,22.099200
2017-05-31,1707.220779,1771.045455,732.519481,37.374468,-94.775636,78.893506,0.098571,23.409740
2017-06-30,1630.043029,1749.845095,762.275387,38.238907,-92.653064,86.169363,0.556678,18.590189
2017-07-31,1452.673282,1566.305344,665.283969,39.871116,-92.133540,85.486412,0.929603,20.789008
2017-08-31,1409.491389,1538.463835,765.742824,37.672455,-95.908033,82.825718,0.229943,16.755109
2017-09-30,1429.713152,1591.140023,884.014739,35.186336,-90.495973,74.435204,1.082744,24.662982
2017-10-31,1494.870130,1636.896104,598.941558,39.229370,-95.706656,63.527922,1.249286,19.961688
2017-11-30,1753.538462,1809.692308,539.653846,39.778346,-95.773865,55.232692,0.053654,17.861538
2017-12-31,1564.169409,1660.454017,644.489835,34.644167,-87.041912,44.923330,0.539671,15.103775
2018-01-31,1476.974388,1601.229937,732.770063,36.057540,-92.601113,39.183836,0.069380,19.393853
2018-02-28,1470.181067,1625.765590,584.129977,38.415833,-92.756380,41.454696,0.627198,17.751165
2018-03-31,1386.225064,1581.647911,1037.942029,36.639101,-95.035491,55.673743,0.190026,18.254476
2018-04-30,1574.869898,1722.441327,555.244898,37.056276,-93.789753,63.158418,0.230867,25.291071
2018-05-31,1547.682692,1658.877747,607.526099,39.578081,-91.233931,79.026099,0.690934,18.622115
2018-06-30,1568.193056,1659.087500,667.708333,38.741908,-92.120200,84.412500,0.399528,18.414583
2018-07-31,1615.870968,1732.137097,721.916129,36.761398,-96.880968,88.394839,0.116871,18.877581
2018-08-31,1666.337456,1769.846290,790.749117,38.130850,-93.357804,87.478445,0.436290,17.378445
2018-09-30,1603.845606,1669.426366,749.273159,35.578025,-94.385004,85.537292,1.234050,16.119834
2018-10-31,1552.825630,1624.525210,618.838235,34.893731,-94.836017,70.778782,1.489349,16.969118
2018-11-30,1465.868757,1555.613240,724.054588,39.850828,-91.247846,42.283391,0.198118,29.009175
2018-12-31,1569.133433,1613.853073,644.142429,35.540753,-95.363150,53.434933,0.937181,19.765817

In [41]:
cancelled_combined = pd.merge(average, monthly_cancels, on = 'Date')
cancelled_combined

,Date,Expected Departure Time,Expected Arrival Time,Distance,Latitude,Longitude,Max Temp,Precip,Wind Speed,Weather Delay
0,2015-01-31,1462.730400,1624.560000,815.451200,37.330344,-94.808253,41.860480,0.130328,15.828560,1250
1,2015-02-28,1444.616387,1614.942970,700.278166,36.233835,-93.590573,34.982379,0.558464,17.933264,4296
2,2015-03-31,1360.388857,1536.847641,659.683911,36.074900,-94.303525,41.971063,0.215969,18.882661,1759
3,2015-04-30,1527.305983,1673.449573,547.136752,37.343065,-94.701993,68.020684,0.797641,22.124957,585
4,2015-05-31,1602.527748,1719.332971,601.388466,34.606746,-95.210214,76.612514,0.829902,21.383025,919
5,2015-06-30,1628.681716,1712.124153,583.067720,38.650205,-91.337823,81.573702,0.993758,16.423025,886
6,2015-07-31,1722.312757,1748.345679,511.637860,39.207798,-95.472481,84.199588,0.280864,16.882305,243
7,2015-08-31,1656.808451,1750.912676,501.002817,40.420746,-90.249144,86.053521,0.177803,17.006197,355
8,2015-09-30,1738.096257,1829.973262,372.219251,41.265594,-88.596246,80.624064,0.935508,17.134225,187
9,2015-10-31,1651.320755,1716.765499,673.444744,33.603523,-97.217879,73.540701,2.633342,18.529380,371
10,2015-11-30,1487.351675,1549.924641,606.083732,39.592703,-93.803461,47.443182,0.474821,24.244976,836
11,2015-12-31,1481.177863,1591.843062,719.616189,37.707561,-94.863235,45.752148,0.966503,23.516905,1816
12,2016-01-31,1435.932337,1643.141476,973.405975,36.571743,-94.876940,45.620562,0.346986,18.620650,1138
13,2016-02-29,1492.857143,1674.837772,689.039952,39.513403,-95.749100,39.212470,0.228705,22.431840,826
14,2016-03-31,1427.999016,1585.378937,793.267717,39.226497,-101.260243,50.615256,0.337854,32.963287,1016
15,2016-04-30,1351.415441,1555.785539,805.534314,37.873348,-101.853256,50.670833,0.824583,24.001838,816
16,2016-05-31,1675.431907,1711.521401,695.688716,37.969455,-95.321623,77.947471,0.590973,19.478599,257
17,2016-06-30,1706.203629,1732.760081,685.891129,37.483534,-98.113694,83.351008,0.490706,16.230242,496
18,2016-07-31,1652.803340,1708.591837,739.630798,39.025319,-91.753071,87.706122,0.342876,16.774583,539
19,2016-08-31,1592.589147,1705.158915,777.540698,36.028872,-94.856180,87.807171,0.874612,17.498837,516
20,2016-09-30,1531.139785,1693.913978,533.215054,40.537011,-90.781817,78.756989,0.426129,15.072043,93
21,2016-10-31,1439.879433,1524.297872,768.895981,35.400983,-90.732563,77.864539,0.132600,17.676596,423
22,2016-11-30,1649.135714,1786.750000,540.607143,40.079271,-97.918393,54.481429,0.162714,18.883571,140
23,2016-12-31,1414.747019,1583.979557,733.908859,39.983871,-95.726871,31.466184,0.241482,16.821976,1174
24,2017-01-31,1525.988960,1653.487580,634.991720,36.422802,-93.057631,41.778289,0.309016,18.132567,1087
25,2017-02-28,1436.424431,1595.169772,951.521739,37.143598,-99.490184,55.052588,0.229130,20.223395,483
26,2017-03-31,1384.845805,1525.623583,872.482993,38.642522,-95.150832,45.529025,0.122789,20.298639,882
27,2017-04-30,1525.344000,1630.150857,575.056000,35.129927,-88.452529,67.339200,2.043154,22.099200,875
28,2017-05-31,1707.220779,1771.045455,732.519481,37.374468,-94.775636,78.893506,0.098571,23.409740,154
29,2017-06-30,1630.043029,1749.845095,762.275387,38.238907,-92.653064,86.169363,0.556678,18.590189,581
30,2017-07-31,1452.673282,1566.305344,665.283969,39.871116,-92.133540,85.486412,0.929603,20.789008,655
31,2017-08-31,1409.491389,1538.463835,765.742824,37.672455,-95.908033,82.825718,0.229943,16.755109,871
32,2017-09-30,1429.713152,1591.140023,884.014739,35.186336,-90.495973,74.435204,1.082744,24.662982,1764
33,2017-10-31,1494.870130,1636.896104,598.941558,39.229370,-95.706656,63.527922,1.249286,19.961688,154
34,2017-11-30,1753.538462,1809.692308,539.653846,39.778346,-95.773865,55.232692,0.053654,17.861538,52
35,2017-12-31,1564.169409,1660.454017,644.489835,34.644167,-87.041912,44.923330,0.539671,15.103775,1033
36,2018-01-31,1476.974388,1601.229937,732.770063,36.057540,-92.601113,39.183836,0.069380,19.393853,1757
37,2018-02-28,1470.181067,1625.765590,584.129977,38.415833,-92.756380,41.454696,0.627198,17.751165,1331
38,2018-03-31,1386.225064,1581.647911,1037.942029,36.639101,-95.035491,55.673743,0.190026,18.254476,1173
39,2018-04-30,1574.869898,1722.441327,555.244898,37.056276,-93.789753,63.158418,0.230867,25.291071,392
40,2018-05-31,1547.682692,1658.877747,607.526099,39.578081,-91.233931,79.026099,0.690934,18.622115,728
41,2018-06-30,1568.193056,1659.087500,667.708333,38.741908,-92.120200,84.412500,0.399528,18.414583,720
42,2018-07-31,1615.870968,1732.137097,721.916129,36.761398,-96.880968,88.394839,0.116871,18.877581,620
43,2018-08-31,1666.337456,1769.846290,790.749117,38.130850,-93.357804,87.478445,0.436290,17.378445,566
44,2018-09-30,1603.845606,1669.426366,749.273159,35.578025,-94.385004,85.537292,1.234050,16.119834,842
45,2018-10-31,1552.825630,1624.525210,618.838235,34.893731,-94.836017,70.778782,1.489349,16.969118,476
46,2018-11-30,1465.868757,1555.613240,724.054588,39.850828,-91.247846,42.283391,0.198118,29.009175,861
47,2018-12-31,1569.133433,1613.853073,644.142429,35.540753,-95.363150,53.434933,0.937181,19.765817,667

In [42]:
cancelled_combined.to_csv('NEW_MONTHLY_CANCELLED_Airport_Weather_Details.csv')