In [2]:
import pandas as pd

In [16]:
summary2015 = pd.read_csv('Data_Cleaning/clean_data/focused_airports_2015.csv')
summary2016 = pd.read_csv('Data_Cleaning/clean_data/focused_airports_2016.csv')
summary2017 = pd.read_csv('Data_Cleaning/clean_data/focused_airports_2017.csv')
summary2018 = pd.read_csv('Data_Cleaning/clean_data/focused_airports_2018.csv')
weather_data = pd.read_csv('airport_weather_data_result.csv', index_col=0)

summary1 = summary2015.append(summary2016)
summary2 = summary1.append(summary2017)
summary = summary2.append(summary2018)

total_flights = summary

In [17]:
#Filter to desired airports
dfw = summary.loc[summary["Origin"] == "DFW"]
atl = summary.loc[summary["Origin"] == "ATL"]
den = summary.loc[summary["Origin"] == "DEN"]
lax = summary.loc[summary["Origin"] == "LAX"]
oha = summary.loc[summary["Origin"] == "ORD"]

In [18]:
summary

,Date,Origin,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay
0,2015-01-01,DFW,BWI,1342,1724,1217.0,0
1,2015-01-01,ORD,OAK,1534,1819,1836.0,0
2,2015-01-01,LAX,IAH,1648,2155,1379.0,0
3,2015-01-01,ORD,ATL,1105,1355,606.0,0
4,2015-01-01,ORD,GRB,1310,1358,173.0,0
...,...,...,...,...,...,...,...
1451362,2018-12-31,LAX,IAH,720,1235,1379.0,0
1451363,2018-12-31,ORD,PHL,2035,2331,678.0,0
1451364,2018-12-31,LAX,PHL,720,1522,2402.0,0
1451365,2018-12-31,DFW,MCI,1725,1856,460.0,0
1451366,2018-12-31,DFW,PHL,1955,2357,1303.0,0

In [39]:
new_summary = summary.rename(columns={"Origin" : "Airport"})
new_summary

,Date,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay
0,2015-01-01,DFW,BWI,1342,1724,1217.0,0
1,2015-01-01,ORD,OAK,1534,1819,1836.0,0
2,2015-01-01,LAX,IAH,1648,2155,1379.0,0
3,2015-01-01,ORD,ATL,1105,1355,606.0,0
4,2015-01-01,ORD,GRB,1310,1358,173.0,0
...,...,...,...,...,...,...,...
1451362,2018-12-31,LAX,IAH,720,1235,1379.0,0
1451363,2018-12-31,ORD,PHL,2035,2331,678.0,0
1451364,2018-12-31,LAX,PHL,720,1522,2402.0,0
1451365,2018-12-31,DFW,MCI,1725,1856,460.0,0
1451366,2018-12-31,DFW,PHL,1955,2357,1303.0,0

In [40]:
weather_data

,Date,Airport,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed
0,2015-01-01,DFW,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
1,2015-01-02,DFW,32.896,-97.037,39.8,0.28,"rain,",11.4
2,2015-01-03,DFW,32.896,-97.037,54.0,0.43,"rain,",12.7
3,2015-01-04,DFW,32.896,-97.037,43.1,0.00,NaN,27.7
4,2015-01-05,DFW,32.896,-97.037,46.1,0.00,NaN,16.1
...,...,...,...,...,...,...,...,...
7300,2018-12-27,ORD,41.979,-87.904,53.1,0.66,"rain,",20.8
7301,2018-12-28,ORD,41.979,-87.904,53.1,0.06,"rain,",23.0
7302,2018-12-29,ORD,41.979,-87.904,29.9,0.07,"rain,snow,",17.2
7303,2018-12-30,ORD,41.979,-87.904,35.1,0.00,NaN,17.2
7304,2018-12-31,ORD,41.979,-87.904,38.9,0.86,"rain,snow,",18.3

In [42]:
#Combine all flight data with weather data by day
all_data = pd.merge(new_summary, weather_data, on=["Date", "Airport"])
all_data

,Date,Airport,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed
0,2015-01-01,DFW,BWI,1342,1724,1217.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
1,2015-01-01,DFW,SAN,839,952,1171.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
2,2015-01-01,DFW,ATL,731,1032,731.0,CANCELLED,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
3,2015-01-01,DFW,MCI,1951,2117,460.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
4,2015-01-01,DFW,RSW,1020,1348,1017.0,0,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5324042,2018-12-31,DFW,ORD,845,1110,801.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324043,2018-12-31,DFW,LAS,1950,2047,1055.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324044,2018-12-31,DFW,CLT,2055,10,936.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324045,2018-12-31,DFW,MCI,1725,1856,460.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2
5324046,2018-12-31,DFW,PHL,1955,2357,1303.0,0,32.896,-97.037,61.1,0.46,"rain,",17.2

In [44]:
duplicates = all_data.duplicated().unique()
duplicates

array([False,  True])

In [31]:
#Seperate out non-cancelled and cancelled flights
non_cancelled = all_data.loc[all_data["Weather Delay"] != "CANCELLED"]
cancelled = all_data.loc[all_data["Weather Delay"] == "CANCELLED"]

In [32]:
non_cancelled

,Date,Origin,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Airport,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed
0,2015-01-01,DFW,BWI,1342,1724,1217.0,0,DFW,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
1,2015-01-01,DFW,BWI,1342,1724,1217.0,0,ATL,33.640,-84.427,56.9,0.05,"rain,",8.0
2,2015-01-01,DFW,BWI,1342,1724,1217.0,0,DEN,39.858,-104.667,25.1,0.08,"snow,",15.0
3,2015-01-01,DFW,BWI,1342,1724,1217.0,0,LAX,33.942,-118.408,56.1,0.00,NaN,8.9
4,2015-01-01,DFW,BWI,1342,1724,1217.0,0,ORD,41.979,-87.904,30.8,0.00,NaN,20.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26620230,2018-12-31,DFW,PHL,1955,2357,1303.0,0,DFW,32.896,-97.037,61.1,0.46,"rain,",17.2
26620231,2018-12-31,DFW,PHL,1955,2357,1303.0,0,ATL,33.640,-84.427,70.1,0.16,"rain,",17.2
26620232,2018-12-31,DFW,PHL,1955,2357,1303.0,0,DEN,39.858,-104.667,31.9,0.03,"snow,",23.0
26620233,2018-12-31,DFW,PHL,1955,2357,1303.0,0,LAX,33.942,-118.408,64.1,0.00,NaN,10.2
26620234,2018-12-31,DFW,PHL,1955,2357,1303.0,0,ORD,41.979,-87.904,38.9,0.86,"rain,snow,",18.3

In [33]:
cancelled

,Date,Origin,Destination,Expected Departure Time,Expected Arrival Time,Distance,Weather Delay,Airport,Latitude,Longitude,Max Temp,Precip,Precip Type,Wind Speed
35,2015-01-01,ATL,DFW,1124,1252,731.0,CANCELLED,DFW,32.896,-97.037,36.0,0.58,"rain,snow,",8.0
36,2015-01-01,ATL,DFW,1124,1252,731.0,CANCELLED,ATL,33.640,-84.427,56.9,0.05,"rain,",8.0
37,2015-01-01,ATL,DFW,1124,1252,731.0,CANCELLED,DEN,39.858,-104.667,25.1,0.08,"snow,",15.0
38,2015-01-01,ATL,DFW,1124,1252,731.0,CANCELLED,LAX,33.942,-118.408,56.1,0.00,NaN,8.9
39,2015-01-01,ATL,DFW,1124,1252,731.0,CANCELLED,ORD,41.979,-87.904,30.8,0.00,NaN,20.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26619415,2018-12-31,DFW,EGE,845,1019,721.0,CANCELLED,DFW,32.896,-97.037,61.1,0.46,"rain,",17.2
26619416,2018-12-31,DFW,EGE,845,1019,721.0,CANCELLED,ATL,33.640,-84.427,70.1,0.16,"rain,",17.2
26619417,2018-12-31,DFW,EGE,845,1019,721.0,CANCELLED,DEN,39.858,-104.667,31.9,0.03,"snow,",23.0
26619418,2018-12-31,DFW,EGE,845,1019,721.0,CANCELLED,LAX,33.942,-118.408,64.1,0.00,NaN,10.2
26619419,2018-12-31,DFW,EGE,845,1019,721.0,CANCELLED,ORD,41.979,-87.904,38.9,0.86,"rain,snow,",18.3