In [1]:
import pandas as pd

In [2]:
# Because of the size of the datasets and difficulty sharing them on GitHub,
# the team decided to limit data to 5 select airports from 2015-2018
year = 2015
focused_airports = ['ATL', 'LAX', 'ORD', 'DFW', 'DEN']
file = "raw_data/" + str(year) + ".csv"

In [3]:
original_df = pd.read_csv(file, sep=",", header=0, index_col=False)

original_df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2015-01-01,NK,195,MCO,FLL,2147,2143.0,-4.0,15.0,2158.0,...,63.0,62.0,40.0,177.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-01,NK,197,LGA,FLL,1050,1104.0,14.0,20.0,1124.0,...,194.0,179.0,150.0,1076.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-01,NK,198,FLL,MCO,700,712.0,12.0,19.0,731.0,...,57.0,61.0,32.0,177.0,0.0,0.0,16.0,0.0,0.0,NaN
3,2015-01-01,NK,199,IAH,LAS,2240,2251.0,11.0,8.0,2259.0,...,196.0,176.0,164.0,1222.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-01,NK,200,IAH,ORD,623,620.0,-3.0,15.0,635.0,...,152.0,140.0,115.0,925.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015-12-31,MQ,3058,ORD,ABQ,1015,1015.0,0.0,23.0,1038.0,...,187.0,197.0,170.0,1118.0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015-12-31,MQ,3059,DFW,LCH,1210,1338.0,88.0,12.0,1350.0,...,78.0,68.0,53.0,295.0,68.0,0.0,0.0,0.0,10.0,NaN
5819076,2015-12-31,MQ,3059,LCH,DFW,1358,1510.0,72.0,12.0,1522.0,...,82.0,79.0,53.0,295.0,0.0,0.0,0.0,0.0,69.0,NaN
5819077,2015-12-31,MQ,3060,DFW,FAR,1830,1840.0,10.0,12.0,1852.0,...,163.0,NaN,NaN,968.0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015-12-31,MQ,3061,LCH,DFW,630,757.0,87.0,12.0,809.0,...,82.0,77.0,52.0,295.0,82.0,0.0,0.0,0.0,0.0,NaN

In [4]:
# Search for null values that don't make sense and see column names.
original_df.isna().sum()

FL_DATE                      0
OP_CARRIER                   0
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEST                         0
CRS_DEP_TIME                 0
DEP_TIME                 86153
DEP_DELAY                86153
TAXI_OUT                 89047
WHEELS_OFF               89047
WHEELS_ON                92513
TAXI_IN                  92513
CRS_ARR_TIME                 0
ARR_TIME                 92513
ARR_DELAY               105071
CANCELLED                    0
CANCELLATION_CODE      5729195
DIVERTED                     0
CRS_ELAPSED_TIME             6
ACTUAL_ELAPSED_TIME     105071
AIR_TIME                105071
DISTANCE                     0
CARRIER_DELAY          4755640
WEATHER_DELAY          4755640
NAS_DELAY              4755640
SECURITY_DELAY         4755640
LATE_AIRCRAFT_DELAY    4755640
Unnamed: 27            5819079
dtype: int64

In [5]:
filtered_df = original_df.iloc[:,[0,3,4,5,6,7,12,13,14,16,21,22,23,24,25,26]]
filtered_df = filtered_df.loc[original_df['ORIGIN'].isin(focused_airports), :]
filtered_df

,FL_DATE,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLATION_CODE,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
6,2015-01-01,DFW,BWI,1342,1337.0,-5.0,1724,1705.0,-19.0,NaN,1217.0,NaN,NaN,NaN,NaN,NaN
9,2015-01-01,ORD,OAK,1534,1534.0,0.0,1819,1742.0,-37.0,NaN,1836.0,NaN,NaN,NaN,NaN,NaN
13,2015-01-01,LAX,IAH,1648,1641.0,-7.0,2155,2209.0,14.0,NaN,1379.0,NaN,NaN,NaN,NaN,NaN
16,2015-01-01,ORD,ATL,1105,1103.0,-2.0,1355,1346.0,-9.0,NaN,606.0,NaN,NaN,NaN,NaN,NaN
25,2015-01-01,ORD,GRB,1310,1325.0,15.0,1358,1422.0,24.0,NaN,173.0,15.0,0.0,9.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819071,2015-12-31,DFW,MOB,2020,2020.0,0.0,2200,2208.0,8.0,NaN,539.0,NaN,NaN,NaN,NaN,NaN
5819072,2015-12-31,DFW,CMI,1830,1826.0,-4.0,2029,2011.0,-18.0,NaN,692.0,NaN,NaN,NaN,NaN,NaN
5819074,2015-12-31,ORD,ABQ,1015,1015.0,0.0,1222,1232.0,10.0,NaN,1118.0,NaN,NaN,NaN,NaN,NaN
5819075,2015-12-31,DFW,LCH,1210,1338.0,88.0,1328,1446.0,78.0,NaN,295.0,68.0,0.0,0.0,0.0,10.0
5819077,2015-12-31,DFW,FAR,1830,1840.0,10.0,2113,2250.0,NaN,NaN,968.0,NaN,NaN,NaN,NaN,NaN

In [13]:
# Simplify cancellations into weather and non-weather
original_df['CANCELLATION_CODE'].unique()

array([nan, 'A', 'B', 'C', 'D'], dtype=object)

In [7]:
filtered_df['Non Weather Delay'] = filtered_df['CARRIER_DELAY']  + filtered_df['NAS_DELAY'] + \
                                   filtered_df['SECURITY_DELAY'] + filtered_df['LATE_AIRCRAFT_DELAY']

filtered_df = filtered_df.drop(columns=['CARRIER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'])

filtered_df.loc[filtered_df['CANCELLATION_CODE'] == 'B', 'WEATHER_DELAY'] = 'CANCELLED'
filtered_df.loc[(filtered_df['CANCELLATION_CODE'] == 'A') |
                (filtered_df['CANCELLATION_CODE'] == 'C') |
                (filtered_df['CANCELLATION_CODE'] == 'D'), 'Non Weather Delay'] = 'CANCELLED'

filtered_df = filtered_df.drop(columns = 'CANCELLATION_CODE')

In [8]:
filtered_df

,FL_DATE,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,DISTANCE,WEATHER_DELAY,Non Weather Delay
6,2015-01-01,DFW,BWI,1342,1337.0,-5.0,1724,1705.0,-19.0,1217.0,NaN,NaN
9,2015-01-01,ORD,OAK,1534,1534.0,0.0,1819,1742.0,-37.0,1836.0,NaN,NaN
13,2015-01-01,LAX,IAH,1648,1641.0,-7.0,2155,2209.0,14.0,1379.0,NaN,NaN
16,2015-01-01,ORD,ATL,1105,1103.0,-2.0,1355,1346.0,-9.0,606.0,NaN,NaN
25,2015-01-01,ORD,GRB,1310,1325.0,15.0,1358,1422.0,24.0,173.0,0,24
...,...,...,...,...,...,...,...,...,...,...,...,...
5819071,2015-12-31,DFW,MOB,2020,2020.0,0.0,2200,2208.0,8.0,539.0,NaN,NaN
5819072,2015-12-31,DFW,CMI,1830,1826.0,-4.0,2029,2011.0,-18.0,692.0,NaN,NaN
5819074,2015-12-31,ORD,ABQ,1015,1015.0,0.0,1222,1232.0,10.0,1118.0,NaN,NaN
5819075,2015-12-31,DFW,LCH,1210,1338.0,88.0,1328,1446.0,78.0,295.0,0,78
5819077,2015-12-31,DFW,FAR,1830,1840.0,10.0,2113,2250.0,NaN,968.0,NaN,NaN

In [9]:
# Give columns more intuitive names
filtered_df = filtered_df.rename(columns={'FL_DATE' : 'Date',
                                    'ORIGIN'        : 'Origin',
                                    'DEST'          : 'Destination',
                                    'CRS_DEP_TIME'  : 'Expected Departure Time',
                                    'DEP_TIME'      : 'Actual Departure Time',
                                    'DEP_DELAY'     : 'Departure Delay',
                                    'CRS_ARR_TIME'  : 'Expected Arrival Time',
                                    'ARR_TIME'      : 'Arrival Time',
                                    'ARR_DELAY'     : 'Arrival Delay',
                                    'DISTANCE'      : 'Distance',
                                    'WEATHER_DELAY' : 'Weather Delay'})

In [10]:
# Interpret NaNs in delay rows as 0s.
filtered_df.iloc[:, [5,8,9,10,11]] = filtered_df.iloc[:, [5,8,9,10,11]].fillna(0)

In [11]:
filtered_df

,Date,Origin,Destination,Expected Departure Time,Actual Departure Time,Departure Delay,Expected Arrival Time,Arrival Time,Arrival Delay,Distance,Weather Delay,Non Weather Delay
6,2015-01-01,DFW,BWI,1342,1337.0,-5.0,1724,1705.0,-19.0,1217.0,0,0
9,2015-01-01,ORD,OAK,1534,1534.0,0.0,1819,1742.0,-37.0,1836.0,0,0
13,2015-01-01,LAX,IAH,1648,1641.0,-7.0,2155,2209.0,14.0,1379.0,0,0
16,2015-01-01,ORD,ATL,1105,1103.0,-2.0,1355,1346.0,-9.0,606.0,0,0
25,2015-01-01,ORD,GRB,1310,1325.0,15.0,1358,1422.0,24.0,173.0,0,24
...,...,...,...,...,...,...,...,...,...,...,...,...
5819071,2015-12-31,DFW,MOB,2020,2020.0,0.0,2200,2208.0,8.0,539.0,0,0
5819072,2015-12-31,DFW,CMI,1830,1826.0,-4.0,2029,2011.0,-18.0,692.0,0,0
5819074,2015-12-31,ORD,ABQ,1015,1015.0,0.0,1222,1232.0,10.0,1118.0,0,0
5819075,2015-12-31,DFW,LCH,1210,1338.0,88.0,1328,1446.0,78.0,295.0,0,78
5819077,2015-12-31,DFW,FAR,1830,1840.0,10.0,2113,2250.0,0.0,968.0,0,0

In [12]:
# Data files were too big when combined so leave them year-by-year
output_path = 'clean_data/' + str(year) + 'test.csv'
filtered_df.to_csv(output_path, index=False)