In [26]:
import pandas as pd

In [27]:
path = "clean_data/weather_cancels_only.csv"
flights_df = pd.read_csv(path)

path = "clean_data/us_airport_location_data.csv"
location_df = pd.read_csv(path)

In [28]:
airports_with_flights = sorted(pd.concat([flights_df['Origin'], flights_df['Destination']]).unique())
airports_with_flights[0:11]

['ABE', 'ABI', 'ABQ', 'ABR', 'ABY', 'ACK', 'ACT', 'ACV', 'ACY', 'ADK', 'ADQ']

In [29]:
location_df = location_df.loc[location_df['Airport'].isin(airports_with_flights), :]

In [30]:
airports_with_flights_and_location_data = list(location_df['Airport'])
airports_with_flights_and_location_data[0:11]

['ABI', 'ACK', 'ACT', 'ACY', 'AEX', 'AGS', 'ALB', 'AMA', 'ART', 'ATL', 'AUS']

In [31]:
flights_df

,Date,Origin,Destination,Expected Departure Time,Expected Arrival Time,Distance
0,2009-01-01,FAT,LAS,710.0,820.0,258.0
1,2009-01-01,FAT,PHX,920.0,1205.0,493.0
2,2009-01-01,SBA,PHX,600.0,920.0,455.0
3,2009-01-01,SBA,PHX,940.0,1214.0,455.0
4,2009-01-01,BTM,SLC,1300.0,1415.0,357.0
...,...,...,...,...,...,...
476441,2018-12-31,ABR,MSP,500.0,620.0,257.0
476442,2018-12-31,LAX,EGE,840.0,1205.0,748.0
476443,2018-12-31,EGE,LAX,1444.0,1606.0,748.0
476444,2018-12-31,DFW,EGE,845.0,1019.0,721.0
476445,2018-12-31,EGE,DFW,1059.0,1410.0,721.0

In [32]:
flights_df = flights_df.loc[flights_df['Origin'].isin(airports_with_flights_and_location_data) &
                            flights_df['Destination'].isin(airports_with_flights_and_location_data), :].reset_index(drop=True)
flights_df

,Date,Origin,Destination,Expected Departure Time,Expected Arrival Time,Distance
0,2009-01-01,FAT,LAS,710.0,820.0,258.0
1,2009-01-01,FAT,PHX,920.0,1205.0,493.0
2,2009-01-01,FAT,SLC,630.0,910.0,501.0
3,2009-01-01,CIC,SFO,530.0,638.0,153.0
4,2009-01-01,BOS,IAD,734.0,921.0,413.0
...,...,...,...,...,...,...
393630,2018-12-31,DFW,CRP,1630.0,1802.0,354.0
393631,2018-12-31,MSP,GFK,1325.0,1457.0,284.0
393632,2018-12-31,DEN,PRC,1230.0,1428.0,557.0
393633,2018-12-31,PRC,LAX,1458.0,1530.0,346.0
393634,2018-12-31,SFO,PSP,2108.0,2233.0,421.0

In [38]:
# Make two copies of 'location' with different column names so that both can be merged with 'flights_df'
location_origins = location_df.rename(columns={'Aiport' : 'Origin',
                                            'Latitude'  : 'Origin Latitude',
                                            'Longitude' : 'Origin Longitude'})
location_destinations = location_df.rename(columns={'Aiport'    : 'Destination',
                                                    'Latitude'  : 'Destination Latitude',
                                                    'Longitude' : 'Destination Longitude'})

In [41]:
flights_df['Origin Latitude'] = 0
flights_df['Origin Longitude'] = 0
flights_df['Destination Latitude'] = 0
flights_df['Destination Longitude'] = 0
flights_df

,Date,Origin,Destination,Expected Departure Time,Expected Arrival Time,Distance,Origin Latitude,Origin Longitude,Destination Latitude,Destination Longitude
0,2009-01-01,FAT,LAS,710.0,820.0,258.0,0,0,0,0
1,2009-01-01,FAT,PHX,920.0,1205.0,493.0,0,0,0,0
2,2009-01-01,FAT,SLC,630.0,910.0,501.0,0,0,0,0
3,2009-01-01,CIC,SFO,530.0,638.0,153.0,0,0,0,0
4,2009-01-01,BOS,IAD,734.0,921.0,413.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
393630,2018-12-31,DFW,CRP,1630.0,1802.0,354.0,0,0,0,0
393631,2018-12-31,MSP,GFK,1325.0,1457.0,284.0,0,0,0,0
393632,2018-12-31,DEN,PRC,1230.0,1428.0,557.0,0,0,0,0
393633,2018-12-31,PRC,LAX,1458.0,1530.0,346.0,0,0,0,0
393634,2018-12-31,SFO,PSP,2108.0,2233.0,421.0,0,0,0,0